@using Microsoft.AspNetCore.Mvc.Razor
@using bd.webappth.web.Helpers
@using System.Security.Claims;
@inject Microsoft.Extensions.Options.IOptions<Settings> Settings
<!-- HEADER -->
@if (User.Identity.IsAuthenticated)
{
<div id="logo-group">
    <span id="logo"> <img src="~/img/logo.png" alt="SmartAdmin"></span>
</div>

}
<!-- END HEADER -->