@{
    ViewData["Title"] = "Error";
}
@using bd.webappth.entidades.Utils


<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i>  Acceso denegado.</h1>
                        <h2 class="font-xl"><strong>Posibles causas</strong></h2>
                        <ul>
                            <li class="lead semi-bold">
                                <strong>Su secci&oacute;n a expirado o se ha iniciado secci&oacute;n con sus datos desde otra PC</strong><br>
                            </li>
                            <li class="lead semi-bold">
                                <strong> Usted no tiene permiso para realizar esta acci&oacute;n.</strong><br>
                            </li>
                        </ul>
                        <p class="lead semi-bold">
                            <legend></legend>
                            <strong>Contacte con el <strong> ADMINISTRADOR</strong> para obtener m&aacute;s informaci&oacute;n.</strong><br>
                            <small>
                                Correo electr&oacute;nico : <a>administrador@bde.ec</a>
                            </small>
                        </p>
                        <ul class="error-search text-left font-md">
                            <li><a href="@WebApp.BaseAddressWebAppLogin" id="pantallaAutenticacion" onclick="initLoadingFormAction('pantallaAutenticacion')"><small>Pantalla de autenticaci&oacute;n <i class="glyphicon glyphicon-log-in"></i></small></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
